*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #bfeeee;
}

.container{
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */

.sidebar{
    width: 240px;
    background: #97a4b3;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    text-align: center;
    margin-bottom: 30px;
}

.logo img{
    width: 60px;
    border-radius: 15px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 14px 18px;
    border: 1px solid #c9d1da;
    border-radius: 12px;
    font-size: 15px;
}

.menu a.active{
    background: white;
    color: #46b9b4;
}

.bottom-menu{
    border: 1px solid #d8dde3;
    border-radius: 15px;
    padding: 15px;
}

.bottom-menu a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 12px 0;
}

/* MAIN */

.main-content{
    flex: 1;
    background: #f7f7f7;
    padding: 25px;
}

/* TOPBAR */

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.topbar h1{
    color: #66bebe;
    font-size: 35px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile h4{
    color: #f3c457;
}

.profile p{
    color: gray;
    font-size: 14px;
}

/* CARDS */

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.card{
    background: #add8de;
    padding: 18px;
    border-radius: 12px;
}

.card-top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.card-top i{
    width: 40px;
    height: 40px;
    background: #4ec2bd;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top span{
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.card h2{
    color: white;
}

/* CONTENT */

.content-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.box{
    background: #c6e1e5;
    padding: 20px;
    border-radius: 12px;
}

.box h3{
    margin-bottom: 30px;
    color: #4b4b4b;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    color: #4bbcbc;
    border-bottom: 1px solid #d6eeee;
    padding-bottom: 10px;
}

.row.bottom{
    margin-top: 40px;
}